@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
.space-grotesk{
  font-family: "Space Grotesk", sans-serif;
}

@import "tailwindcss";
@plugin "daisyui";

